.mainBox{
    background-color: #EEF1F9;
    width: 100vw;
    height: 100vh;

}
.hero
{
    display: flex;
    background-color: white;
    height: 65px;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.options
{
    height: auto;
    display: flex;
    margin:40px;
    margin-top:20px
}
.mentor
{
    height: auto;
    width: auto;
    padding: 10px;
    background-color: #3F51B5;
    color:white;
    border-radius: 5px;
}
.mentor:hover{
    cursor: pointer;
    background-color: #33418f;
}
.mentee
{
background-color: #10B981;
color:white;
height: auto;
width: auto;
padding: 10px;
border-radius: 5px;
}
.mentee:hover{
    cursor: pointer;
    background-color: #0f9367;
}
.tableContainer {
    max-width: 96vw;
    border: 1px solid #dcdfe5;
    border-radius: 12px;
    overflow: hidden;
    background-color: white;
    margin: auto;
}


table {
width: 100%;
border-collapse: collapse;
text-align: left;
}

th, td {
padding: 16px 20px;
border: 1px solid #dcdfe5;
}

th {
font-weight: 600;
color: #1a1a1a;
background-color: #ffffff;
}

td {
font-size: 16px;
color: #333;
}

.statusBadge {
display: inline-block;
background-color: #fcd7a3;
color: #1a1a1a;
padding: 6px 12px;
border-radius: 999px;
font-weight: 500;
margin-bottom: 6px;
}

.pending
{
    border-radius: 10px;
    padding: 5px;
    background-color: orange;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}

.active
{
    background-color: green;
    color: white;
    border-radius: 10px;
    width: fit-content;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;

}

.expired
{
    background-color: red;
    color:white;
    border-radius: 10px;
    width: fit-content;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.logout:hover
{
    cursor: pointer;
}

.overlay
{
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    align-content: center;
    justify-items: center;
}

.popup
{
    border-radius: 10px;
    background-color: white;
    width: 580px;
    height: 245px;
}

.dropdown
{
    display: flex;
    width: 95%;
    height: 40px;
    background-color: #EEF1F9;
    border-radius: 5px;
    margin-bottom: 10px;
    border-style: none;
    padding: 10px;
    border: 2px solid transparent;
    box-sizing: border-box;
    transition: border-color 0.2s ease;

}
.dropdown:hover{
    border-color:lightgray;
    border-width: 2px;
    border-style:solid;
}
.dropdown:focus{
    border-color:blue;
    border-width: 2px;
    outline: none;
    border-style: solid;
}
.dropdownPressed
{
    max-height: 260px;
    top: 56%;
    position: absolute;
    width: 510px;
    height: auto;
    background-color: white;
    border-radius: 10px;
    z-index: 1000;
    display: flex;
    padding: 20px;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    
}
.bookSlots
{
    width: 95%;
    height: 40px;
    background-color: #7D53F6;
    border-radius: 5px;
    margin: 10px;
    color: white;
    justify-items: center;
    align-content: center;
}
.bookSlots:hover{
    cursor: pointer;
}
